:root {
  --primary: #3e4639;
  --secondary: #7a5c43;
  --third: #ece2d8;
}

* {
  font-family: 'Palatino','Didot';
  margin: 0px;
  padding: 0px;
}

.test-border {
  border: solid red 3px;
}

body {
  background-color: var(--third);
}

/* Navbar/Header style */
.navbar {
  background-color: var(--primary);
  padding-left: 10px;
}

.header {
  color: var(--third);
  visibility: hidden;
}

.container_row {
  display: grid;
}

.layer1, .layer2 {
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  pointer-events: none;
  z-index: 9999;
}

@media (max-width: 1199.98px) {
  .header {
    visibility: initial;
  }
}

/* Home styling */
.headshot {
  border-radius: 50%;
  width: 90%; height: 90%;
  margin-top: 30px;
  border: var(--primary) solid 8px;
  box-shadow: 0 0 10px black;
}

.profession {
  font-size: 55px;
  color: var(--primary);
}

.description {
  color: var(--primary);
}

.singleCol {
  max-width: 750px;
  margin: 0 auto;
}

.social-icon a {
  color: var(--primary);
  font-size: 3rem;
  padding: 20px;
}