* {
  font-family: 'Hoefler text','Palatino','Didot';
  margin: 0px;
  padding: 0px;
}

.test-border {
  border: solid red 3px;
}

.navbar {
  background-color: #3e4639;
  padding-left: 10px;
}

.header {
  color: #ece2d9;
  visibility: hidden;
}

.container_row {
  display: grid;
}

.layer1, .layer2 {
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  pointer-events: none;
  z-index: 9999;
}

@media (max-width: 1199.98px) {
  .header {
    visibility: initial;
  }
}