:root {
  --primary: #3e4639;
  --secondary: #7a5c43;
  --third: #ece2d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palatino','Didot';
}

.test-border {
  border: solid red 3px;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--third);
  -webkit-text-size-adjust: 100%;
}

/* Navbar/Header style */
.navbar {
  background-color: var(--primary);
  padding-left: 10px;
}

.header {
  color: var(--third);
  text-align: right;
  padding-right: 30px;
}

.container_row {
  display: grid;
}

.layer1, .layer2 {
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  pointer-events: none;
  z-index: 9999;
}

/* Home styling */
.hero {
  text-align: center;
  height: 100vh;
}

.headshot {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
  border: var(--primary) solid 8px;
  box-shadow: 0 0 10px black;
}

.bio-container {
  padding: 40px;
}
.profession {
  font-weight: bold;
  color: var(--primary);
  font-size: 65px;
}

.description {
  color: var(--primary);
  font-size: 28px;
}

.social-icon a {
  color: var(--primary);
  font-size: 5rem;
  padding: 30px;
}

@media (min-width: 991.98px) {
  .hero {
    padding: 30px;
    display: flex;
    align-items: center;
    height: 1000px;
  }

  .bio-container {
    text-align: left;
  }

  .social-icon {
    text-align: left;
  }
}

/* About style */
.about-section {
  background-image: url('./assets/images/aboutphoto.jpg');
  height: 100vh;
  background-position: 20% 70%;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  height: 100vh;
}

.about-card, .skills-card {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 30px 10px;
  padding: 50px 0;
  color: var(--primary);
}

.about-card h2, .skills-card h2 {
  font-size: 4rem;
}

.about-card p, .skills-card ul {
  font-size: 1.3rem;
}

.skills-card {
  width: 100vw;
}

.skills-card ul {
  list-style: none;
  text-align: left;
}

@media (min-width: 991.98px) {
  .about-container {
    flex-wrap: nowrap;
    margin-left: 30px; margin-right: 30px;
    justify-content: center;
    align-items: center;
  }

  .about-card, .skills-card {
    padding: 150px 0;
  }

  .about-card h2, .skills-card {
    font-size: 6rem;
  }

  .about-card p, .skills-card ul {
    font-size: 2rem;
  }

  .about-card {
    padding-left: 10px;
    padding-right: 10px;
  }
}