:root {
  --primary: #3e4639;
  --secondary: #7a5c43;
  --third: #ece2d8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Palatino','Didot';
}

.test-border {
  border: solid red 3px;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  background-color: var(--third);
  -webkit-text-size-adjust: 100%;
}

/* Navbar/Header style */
.navbar {
  background-color: var(--primary);
  padding-left: 10px;
}

.header {
  color: var(--third);
  text-align: right;
  padding-right: 30px;
}

.container_row {
  display: grid;
}

.layer1, .layer2 {
  grid-column: 1;
  grid-row: 1;
}

.layer2 {
  pointer-events: none;
  z-index: 9999;
}

/* Home styling */
.hero {
  text-align: center;
  height: 100vh;
}

.headshot {
  max-width: 500px;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 50%;
  margin-top: 30px;
  border: var(--primary) solid 8px;
  box-shadow: 0 0 10px black;
}

.bio-container {
  padding: 40px;
}
.profession {
  font-weight: bold;
  color: var(--primary);
  font-size: 3rem;
}

.description {
  color: var(--primary);
  font-size: 1.5rem;
}

.social-icon a {
  color: var(--primary);
  font-size: 5rem;
  padding: 30px;
}

@media (min-width: 991.98px) {
  .hero {
    padding: 30px;
    display: flex;
    align-items: center;
    height: 1000px;
  }

  .bio-container {
    text-align: left;
  }

  .social-icon {
    text-align: left;
  }
}

@media (max-width: 499.98px) {
  .headshot {
    width: 90%;
  }
}

/* About style */
.about-section {
  background-image: url('./assets/images/aboutphoto.jpg');
  height: 100vh;
  background-position: 20% 70%;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--primary);
  display: flex;
  align-items: center;
}

.about-section article {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px 10px;
}

.about-section article h2, .skills-list h3 {
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.about-section article p {
  text-align: center;
}

.skills-list ul {
  font-weight: bold;
}

.about-section article p, .skills-list ul {
  font-size: 20px;
}

@media (min-width: 767.98px) {
  .skills-list {
    margin-top: 30px;
  }

  .about-section article h2, .skills-list h3 {
    font-size: 50px;
  }

  .about-section article p, .skills-list ul {
    font-size: 25px;
  }
}

@media (min-width: 991.98px) {
  .about-section {
    justify-content: flex-end;
  }
  .about-section article {
    width: 50vw;
  }
}

/* Work style */
.work-container {
  height: 100vh;
}

.work-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: var(--primary);
  padding: 0 10px 0 10px;
  margin-top: 20px;
}

.work-title h2 {
  font-weight: bold;
  font-size: 100px;
  text-decoration: underline;
}

.main-project {
  background-color: var(--primary);
  color: var(--third);
  height: 550px;
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: 20px;
}

.sub-project {
  background-color: var(--primary);
  color: var(--third);
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  margin: 20px 30px 30px 30px;
  border-radius: 20px;
}

/* Contact style */
.contact-section {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url('./assets/images/contact-bg.jpg');
  background-size: cover;
  background-position: 50%;
}

.contact-container {
  background-color: var(--primary);
  color: var(--third);
  padding: 100px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-question {
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  margin-bottom: 50px;
}

.contact-me {
  text-align: center;
}

.contact-me a {
  text-decoration: none;
  background-color: var(--secondary);
  color: var(--third);
  font-size: 30px;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

@media (min-width: 991.98px) {
  .contact-container {
    border-radius: 20px;
  }

  .contact-question {
    font-size: 100px;
  }
}
